* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(130deg, #f8faff, #e1e6eb);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient(130deg, #27292e, #121213);
  transition: opacity 0.6s ease-in-out;
}
.Portlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.portcircle {
  border-radius: 50%;
  z-index: 60;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: -27.7px;
  background: transparent;
  transition: background 0.6s ease-in-out;
}

.logoSecondLetter {
  transform: rotateY(180deg);
}
.portimage img {
  height: 21rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 29%;
  left: 36%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.portcircle > div {
  z-index: 50;
}
